<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Trax Vehicle Manager</title>
    
    <style>
        #colmn {
            width: 1000px;
        }
    </style>
    
    <!-- Bootstrap CSS CDN -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'trax_vehicle_manager_data/style.css' %}">

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    
    <!-- jQuery CDN - Slim version (=without AJAX) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    

    {% comment %} <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css" />
    
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> {% endcomment %}
   
    {% comment %} <!--jQuery-->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> {% endcomment %}
    
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    
    <!--jQuery-->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    
    <!-- Font Awesome JS -->
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    
    {% block stylesheets %}
    {% endblock stylesheets %}
    {% block headscript %}
    {% endblock headscript %}
</head>

<body>
    <div class="wrapper">
        <!-- SIDEBAR  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4>TRAX</h4>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{% url 'trax_vehicle_manager_data:vehicles' %}">Vehicles</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Driver</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:driver_master' %}">Master</a>
                        </li>
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:driver_odometer' %}">Odometer</a>
                        </li>
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:drivers_usage' %}">Usage</a>
                        </li>
                    </ul>
                </li>
                 <li>
                    <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Diesel</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu1">
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:full_diesel_details' %}">Full Diesel Details</a>
                        </li>
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:diesel_transaction_details' %}">Transaction Details</a>
                        </li>
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:transaction_tally' %}">Transaction Tally</a>
                        </li>
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:diesel_delete_data' %}">Delete Data</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Maintenance</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu2">
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:maintenance_data' %}">Maintenance Data</a>
                        </li>
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:maintenance_details' %}">Maintenance Details</a>
                        </li>
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:maintenance_update_payment' %}">Update Payment</a>
                        </li>
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:maintenance_delete_data' %}">Delete Data</a>
                        </li>
                    </ul>
                </li>
                <li> 
                    <a href="{% url 'trax_vehicle_manager_data:recurring_expense' %}">Reccuring Expense</a>
                </li>
                <li>
                    <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settlement</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu3">
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:insurance_claim' %}">Insurance Claims</a>
                        </li>
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:police_settlement' %}">Police Settlements</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Company MIS</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu4">
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:mis' %}">MIS</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tyre</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu5">
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:tyres' %}">Tyres Data</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Supervisors</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu6">
                        <li>
                            <a href="{% url 'trax_vehicle_manager_data:supervisor_data' %}">Supervisor Data</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'trax_vehicle_manager_data:profile' %}">Profile</a>
                </li>
                <li>
                    <a href="{% url 'trax_vehicle_manager_data:report_error' %}">Report Error</a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="{% url 'trax_vehicle_manager_data:login' %}" class="btn btn-light">
                        <font color="#1B4965">Logout</font>
                    </a>
                </li>
            </ul>
        </nav>
        <!--SIDEBAR ENDS HERE-->

        <!-- PAGE CONTENT  -->
        <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>Menu
                </button>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
   
    {% block script %}
    {% endblock %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    {% block extrascript %}
    {% endblock extrascript %}
</body>

</html>