{% extends 'trax_vehicle_manager_data/base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock stylesheets %}

{% block content %}
<span><span id="btn"><button class="btn btn-primary">Upload File</button>
        <button class="btn btn-success">Export Excel</button><button class="btn btn-danger">Export PDF</button></span> </span>

<hr>
<h3>Diesel Transaction Tally</h3>
<hr>

<form action={% url 'trax_vehicle_manager_data:transaction_tally' %} method="post">
                     {% csrf_token %}
                       
                        <div>
                        <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="start_date_lbl">From:</label><br>
                            <input type="date" class="datepicker" id="date1" name="date1">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="end_date_lbl">To:</label><br>
                            <input type="date" class="datepicker" id="date2" name="date2">
                        </div>
                        <div class="form-group col-md-3">
                        <br>
                        <button type="submit" class="submit-btn btn btn-primary">Search</button>
                        </div>
                        </div>
                        <br>
                    </form> 


<div>
{% if filter_date == "True" %}
<h4>{{date1|title}}To{{date2|title}}</h4>
{% else %}
<h4>Please select Dates to filter Data</h4>
{% endif %}
<hr>
<div>
    <table id="test_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Vehicle No.</th>
                <th>Merchant</th>
                <th>Date</th>
                <th>Volume</th>
                <th>Transaction type</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Balance</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
        {% for one_diesel_object in diesel_objects %}
            <tr>

                <td>{{one_diesel_object.vehicle_number}}</td>
                <td>{{one_diesel_object.merchant}}</td>
                <td>{{one_diesel_object.transaction_date}}</td>
                <td>{{one_diesel_object.volume}}</td>
                <td>{{one_diesel_object.transaction_type}}</td>
                <td>{{one_diesel_object.}}</td>
                <td>{{one_diesel_object.}}</td>
                <td>{{one_diesel_object.}}</td>
                <td>{{one_diesel_object.ownership}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#test_table').DataTable();
    });
</script>
{% endblock extrascript %}