{% extends 'trax_vehicle_manager_data/base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<style>
.exportExcel{
  padding: 5.5px;
  border: 2px solid #28a745;
  margin-right: 110px;
  cursor: pointer;
  float: right;
  margin-top : -140px;
  border-radius:6px;
  background-color:#28a745;
  color:white;
  width:120px;
}
.exportPDF{
  padding: 5.5px;
  border: 2px solid #dc3545;
  cursor: pointer;
  float: right;
  margin-top : -140px;
  border-radius:6px;
  background-color:#dc3545;
  color:white;
  width:100px;
  margin-left:-20px;
}
</style>
{% endblock stylesheets %}

{% block content %}
<span><span id="date"><b>From:</b><input type="date"> - <b>To:</b><input type="date"></span><span id="btn"><button class="btn btn-primary">Upload File</button></span></span>

<hr>
<h3>Diesel Transaction Details</h3>
<hr>
<div>
    <table id="test_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Vehicle No.</th>
                <th>Vehicle Deatails</th>
                <th>Company</th>
                <th>Type</th>
                <th>Seat cap</th>
                <th>Litres</th>
                <th>Amount</th>
                <th>KM Runs</th>
                <th>Avg</th>
                <th>Min Avg</th>
                <th>Performance</th>
                <th>Total Error</th>
                <th>Card Error</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
 $(document).ready(function() {
$('#test_table').DataTable({
	orderCellsTop: true,
    fixedHeader: false,
    "lengthMenu": [ [-1], ["All"] ],
    dom: 'Bfrtip',
    buttons: [
        {
        extend: 'excel',
        text: 'Export Excel',
        className: 'exportExcel',
        filename: 'Export excel',
        exportOptions: {
            modifier: {
            page: 'all'
            }
        }
        }, 
       {
        extend: 'pdf',
        text: 'Export PDF',
        className: 'exportPDF',
        filename: 'Export PDF',
        exportOptions: {
            modifier: {
            page: 'all'
            }
        }
        },
        ]
});
});
</script>
{% endblock extrascript %}