{% extends 'trax_vehicle_manager_data/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<style>
.exportExcel{
  padding: 5.5px;
  border: 2px solid #28a745;
  margin-right: 2px;
  cursor: pointer;
  float: right;
  margin-top : -142px;
  border-radius:6px;
  background-color:#28a745;
  color:white;
  width:120px;
}
{% comment %} .exportPDF{
  padding: 5.5px;
  border: 2px solid #dc3545;
  cursor: pointer;
  float: right;
  margin-top : -138px;
  border-radius:6px;
  background-color:#dc3545;
  color:white;
  width:100px;
  margin-left:-20px;
} {% endcomment %}
</style>

{% endblock stylesheets %}


{% block content %}
        <button type="button" class="btn btn-info" style="float:right;margin-right:135px;"> <a href="{% url 'trax_vehicle_manager_data:drivers_usage' %}">
										Go Back
									</a></button>
                <hr style="background-color: black">

                <h2>{{driver_name}} | Contact:{{driver_contact}}</h2>

               <hr style="background-color: black">

                <div>
                {% if driver_odometer_filered_based_on_driver_pk %}
                    <table id="test_table" class="display" style="width:100%;text-align: center">
                        <thead>
                            <tr>
                                <th>Date of Entry</th>
                                <th>Driver ID</th>
                                <th>Bus Number</th>
                                <th>Odometer Kilometer</th>
                                <th>Kilometer Running per day</th>
                                <th>Average</th>
                                {% comment %} <th>Edit</th>
                                <th>Delete</th> {% endcomment %}

                            </tr>
                        </thead>
                        <tbody>
                            {% for key,value in driver_odometer_km_average_dict.items %}
                            <tr>
                                <td>{{key.drivers_odometer_data_date_of_entry}}</td>
                                <td>{{key.drivers_odometer_data_driver_id}}</td>
                                <td>{{key.drivers_odometer_data_vehicle_number}}</td>
                                <td>{{key.drivers_odometer_data_odometer_kilometer}}</td>
                                
                                <td>{{value.0}}</td>
                                <td>{{value.1}}</td>
                                
                                {% comment %} <td><button class="btn btn-primary"><i class="fa fa-edit"></i></button></td>
                                <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td> {% endcomment %}
                            </tr>
                            {% endfor %}
                           
                        </tbody>
                    </table>
                    {% else %}
                    <p class="no-leads text-primary">No data added yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
{% endblock %}

{% block extrascript %}

<script type="text/javascript">
    $(function() {
         $(".go_to_driver_usage").modalForm({
        URL: "{% url 'trax_vehicle_manager_data:drivers_usage' %}"
    });
        $(".update-data-entered").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
         $(".delete-data-entered").each(function() {
			$(this).modalForm({
				formURL: $(this).data('id')
			});
		});
        
      $(".read-data-entered").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    });
</script>




<script type="text/javascript">
 $(document).ready(function() {
$('#test_table').DataTable({
	orderCellsTop: true,
    fixedHeader: false,
    "lengthMenu": [ [-1], ["All"] ],
    dom: 'Bfrtip',
    buttons: [
        {
        extend: 'excel',
        text: 'Export Excel',
        className: 'exportExcel',
        filename: 'Export excel',
        exportOptions: {
            modifier: {
            page: 'all'
            }
        }
        }, 
        {% comment %} {
        extend: 'pdf',
        text: 'Export PDF',
        className: 'exportPDF',
        filename: 'Export PDF',
        exportOptions: {
            modifier: {
            page: 'all'
            }
        }
        },  {% endcomment %}
        ]
});
});
</script>
{% endblock extrascript %}