{% extends 'trax_vehicle_manager_data/base.html' %}
{% load maintenance_data_filters %}


{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<style>
.exportExcel{
  padding: 5.5px;
  border: 2px solid #28a745;
  margin-right: 50px;
  cursor: pointer;
  float: right;
  margin-top : -135px;
  border-radius:6px;
  background-color:#28a745;
  color:white;
  width:120px;
}
</style>


{% endblock stylesheets %}



{% block content %}
<hr>
<h3>Latest Driver Usage</h3>
<hr>
<div>
    <table id="test_table" class="display" style="width:100%;text-align: center">
        <thead>
            <tr>
                <th>Refrence Number</th>
                <th>Driver Name</th>
                <th>Latest Average</th>
                <th>Date of Latest Average</th>
                <th>View Odometer Report</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in driver_objects %}
            <tr>
                <td>{{driver.driver_reference_no}}</td>
                <td>{{driver.driver_driver_name}}</td>
                <td>{{latest_average_dict|get_item:driver.pk}}</td>
                <td>{{latest_date_of_average_dict|get_item:driver.pk}}</td>
                <td><button type="button" class="btn btn-sm btn-primary">
                                <a href="{% url 'trax_vehicle_manager_data:drivers_details' pk=driver.pk %}">
                                    Click Here
                                </a>
                            </button></td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
 $(document).ready(function() {
$('#test_table').DataTable({
	orderCellsTop: true,
    fixedHeader: false,
    "lengthMenu": [ [-1], ["All"] ],
    dom: 'Bfrtip',
    buttons: [
        {
        extend: 'excel',
        text: 'Export Excel',
        className: 'exportExcel',
        filename: 'Export excel',
        exportOptions: {
            modifier: {
            page: 'all'
            }
        }
        }, 
        {% comment %} {
        extend: 'pdf',
        text: 'Export PDF',
        className: 'exportPDF',
        filename: 'Export PDF',
        exportOptions: {
            modifier: {
            page: 'all'
            }
        }
        },  {% endcomment %}
        ]
});
});
</script>
{% endblock extrascript %}