<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock stylesheets %}
    
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block headscript %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock headscript %}
    <style>
        .jumbotron {
            background-color: #1B4965;
        }
    </style>

    <title>Aaron Tours</title>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4 text-white">नमस्ते!</h1>
        <p class="lead text-white">ओडोमीटर रीडिंग रजिस्टर करने के लिए कृपया फॉर्म भरें</p>
        <hr class="my-4" style="background-color:  white">
        <h4 style="color: white">अधिक जानकारी के लिए कॉल करें : <a href="tel:+917045678009" style="color: white">+917045678009</a></h4>
    </div>
    <div style="padding-left: 10px;padding-right: 10px">
        <form method="POST" action="{% url 'trax_vehicle_manager_data:drivers_odometer_form_submit' %}">
            {% csrf_token %}
                <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">अपना ड्राइवर आईडी नंबर चुनें?
                        </label>
                        <div class="col-sm-10">
                           <select class="form-control" id="driverdata_driver_id" name="driverdata_driver_id">
                            <option disabled selected style="display: none">कृपया सूची से अपना ड्राइवर आईडी नंबर चुनें</option>
                              {% for driver in drivers %}
                            <option value="{{ driver.pk }}">{{ driver.driver_reference_no }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">अपना मोबाइल नंबर लिखो ?
                </label>
                <div class="col-sm-10">
                    <input type="text" pattern="(7|8|9)\d{9}" class="form-control" id="driverdata_driver_mobile_number" name="driverdata_driver_mobile_number" placeholder="मोबाइल नंबर" required>
                </div>
            </div>
            <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">बस नंबर चुनें ?
                    </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="driverdata_vehicle_number" name="driverdata_vehicle_number">
                        <option disabled selected style="display: none">कृपया सूची से बस नंबर चुनें</option>
                          {% for vehicle in vehicles %}
                        <option value="{{ vehicle.pk }}">{{ vehicle.vehicle_number }}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">ओडोमीटर किलोमीटर लिखो ?
                </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="driverdata_odometer" name="driverdata_odometer" placeholder="ओडोमीटर किलोमीटर" required>
                </div>
            </div>
            <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">क्लीनर का आईडी नंबर चुनें?
                    </label>
                    <div class="col-sm-10">
                       <select class="form-control" id="driverdata_cleaner_id" name="driverdata_cleaner_id">
                        <option disabled selected style="display: none">कृपया सूची से क्लीनर का आईडी नंबर चुनें</option>
                           {% for cleaner in cleaners %}
                        <option value={{ cleaner.pk }}>{{ cleaner.cleaner_Id }}</option>
                        {% endfor %}    
                    </select>
                    </div>
                </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-block" style="color: white;background-color: #2BA84A">रजिस्टर करें
                    </button>
                </div>
            </div>
        </form>
    </div>
    <footer style="background-color: #D3D0CB;padding-left: 5px;padding-right: : 5px">
        <p>&copy;2019 <a href="http://www.aarontours.in" style="color:#1B4965 ">Aaron Tours.</a><span style="float: right;font-size: 12px"> Design & Developed By Finity TechServ</span></p>
    </footer>

</body>

</html>