{% extends 'trax_vehicle_manager_data/base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock stylesheets %}

{% block content %}
<span><span id="date"><b>From:</b><input type="date"> - <b>To:</b><input type="date"></span><span id="btn">
        <button class="btn btn-success">Export Excel</button><button class="btn btn-danger">Export PDF</button></span> </span>

<hr>
<h3>Full Diesel Details</h3>
<hr>
<div>

    <form>
        <h6> Company Name:
            <select>
                <option>All</option>
                <option>Aaron Tours</option>
                <option>Aaron Travels</option>
                <option>Aaron Comet</option>
            </select>
        </h6>
    </form>

</div>
<hr>
<div>
    <table id="test_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Vehicle No.</th>
                <th>Card USed</th>
                <th>Company Name</th>
                <th>Ownership</th>
                <th>Date</th>
                <th>Litres</th>
                <th>Amount</th>
                <th>OD Readings</th>
                <th>KM Runs</th>
                <th>Avg</th>
                <th>Remarks</th>
                <th>Odometer Issues</th>
            </tr>
        </thead>
        <tbody>
        {% for diesel in diesel_objects %}
            <tr>
                <td>{{diesel.vehicle_number}}</td>
                <td>{{diesel.card_used}}</td>
                <td>{{diesel.}}</td>
                <td>{{diesel.ownership}}</td>
                <td>{{diesel.}}</td>
                <td>{{diesel.volume}}</td>
                <td>{{diesel.amount_Rs}}</td>
                <td>{{diesel.odometer_reading}}</td>
                <td>{{diesel.odometer_reading}}</td>
                <td>{{diesel.odometer_reading}}</td>
                <td>{{diesel.}}</td>
                <td>{{diesel.}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#test_table').DataTable();
    });
</script>
{% endblock extrascript %}