{% extends 'trax_vehicle_manager_data/base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock stylesheets %}


{% block content %}
<!-- Modal for CURD Operation -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<span><span id="date"><b>From:</b><input type="date"> - <b>To:</b><input type="date"></span><span id="btn"><button class="upload_maintenance_form btn btn-info">Upload Form </button><button class="btn btn-primary">Upload File</button>
        <button class="btn btn-success">Export Excel</button><button class="btn btn-danger">Export PDF</button></span> </span>

<hr>
<h3>Maintenance Data</h3>
<hr>
<div>
{% if maintenance_data_objects %}
    <table id="test_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Vehicle Details</th>
                <th>Dealer</th>
                <th>Bill Number</th>
                <th>Bill Date</th>
                <th>Particular</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Labour Charge</th>
                <th>Discount</th>
                <th>Tax</th>
                <th>Total Amount</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for maintenance_data in maintenance_data_objects %}
            <tr>
                <td>{{maintenance_data.vehicle_detail}}</td>
                <td>{{maintenance_data.maintenance_dealer_name}}</td>
                <td>{{maintenance_data.bill_number}}</td>
                <td>{{maintenance_data.bill_date}}</td>
                <td>{{maintenance_data.particular}}</td>
                <td>{{maintenance_data.quantity}}</td>
                <td>{{maintenance_data.rate}}</td>
                <td>{{maintenance_data.labour_charge}}</td>
                <td>{{maintenance_data.discount}}</td>
                <td>{{maintenance_data.tax}}</td>
                <td>{{maintenance_data.total_amount}}</td>
                <td>
							<button type="button" class="update-data-entered btn btn-sm btn-primary" data-id="{% url 'trax_vehicle_manager_data:update_maintenance_data' pk=maintenance_data.pk %}">
								<span class="fa fa-edit"></span>
							</button>
						</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="no-leads text-primary">No data added yet.</p>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
 $(document).ready(function() {
$('#test_table').DataTable({
	orderCellsTop: true,
    fixedHeader: false,
    "lengthMenu": [ [-1], ["All"] ],
 dom: 'Bfrtip',
  buttons: [
    'excelHtml5', 'csvHtml5'
  ]
});
});
</script>
<script type="text/javascript">
    $(function() {
         $(".upload_maintenance_form").modalForm({
        formURL: "{% url 'trax_vehicle_manager_data:upload_maintenance_form' %}"
    });
        $(".update-data-entered").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
         $(".delete-data-entered").each(function() {
			$(this).modalForm({
				formURL: $(this).data('id')
			});
		});
        
      $(".read-data-entered").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    });
</script>
{% endblock extrascript %}