{% extends 'trax_vehicle_manager_data/base.html' %}
{% load maintenance_data_filters %}


{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<style>
        .maintenance{
            font-weight: bold;
            background-color: plum;
            padding-top: 12px;
            cursor: pointer;
        }
        .maintenance:after{
            background-color: red;
        }
        
        .company{
            font-weight: bold;
            background-color: plum;
            padding-top: 12px;
            cursor: pointer;
        }
    </style>





<style>
.exportExcel{
  padding: 5.5px;
  border: 2px solid #28a745;
  margin-right: 110px;
  cursor: pointer;
  float: right;
  margin-top : -306px;
  border-radius:6px;
  background-color:#28a745;
  color:white;
  width:120px;
}
{% comment %} .exportPDF{
  padding: 5.5px;
  border: 2px solid #dc3545;
  cursor: pointer;
  float: right;
  margin-top : -205px;
  border-radius:6px;
  background-color:#dc3545;
  color:white;
  width:100px;
  margin-left:-20px;
} {% endcomment %}
</style>
{% endblock stylesheets %}

{% block content %}
<!-- Modal for CURD Operation -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>


<span id="btn">
<button class="upload_maintenance_form btn btn-info" style="margin-top:-50px;margin-left:-500px;">Upload Form </button>
<button type="button" class="btn btn-primary" style="margin-top:-50px;" data-toggle="modal" data-target="#exampleModalforUploadFile">Upload File</button>
</span>

<hr>
<h3>Maintenance Details</h3>
<hr>

<form action={% url 'trax_vehicle_manager_data:maintenance_details' %} method="post">
                     {% csrf_token %}
                       
                        <div>
                        <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="start_date_lbl">From:</label><br>
                            <input type="date" class="datepicker" id="date1" name="date1">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="end_date_lbl">To:</label><br>
                            <input type="date" class="datepicker" id="date2" name="date2">
                        </div>
                        <div class="form-group col-md-3">
                        <br>
                        <button type="submit" class="submit-btn btn btn-primary">Search</button>
                        </div>
                        </div>
                        <br>
                    </form> 
<div>
{% if filter_date == "True" %}
<h4>{{date1|title}}To{{date2|title}}</h4>
{% else %}
<h4>Please select Dates to filter Data by Bill Date</h4>
{% endif %}

</div>


<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" style="float:right;margin-top:-50px" data-toggle="modal" data-target="#exampleModal">
        Show Report
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" style="text-align: center; border: 1px solid;height: 50px;">
                            <div class="col maintenance" id="maintenanceReport">Maintenance Report </div>
                            <div class="col company" id="companyReport">Company Report</div>
                        </div><br>
                        <div class="row">
                            <div class="col">
                                <table id="maintenanceTable" style="text-align: center; width: 100%;border: 1px solid;">
                                    <head>
                                    <tr>
                                        <th>Particular Type</th>
                                        <th>Total Amount</th>
                                        <th>Average</th>
                                    </tr>
                                        </head>
                                    <tbody>
                                    {% for maintenance in maintenance_objects %}
                                    <tr>
                                    <td>{{maintenance.particular}}</td>
                                    <td>{{maintenance.amount}}</td>
                                    <td>0.0</td>
                                    </tr>
                                    {% endfor %}
                                   </tbody>
                                    <tfoot>
                                        <tr>
                                        <td>Total Amount</td>
                                        <td>{{total_amount}}</td>
                                        <td></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <table id="companyTable" style="text-align: center; width: 100%;border: 1px solid; display: none">
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Total Amount</th>
                                    </tr>

                                   <tbody>
                                    {% for maintenance in maintenance_objects %}
                                    <tr>
                                    <td>{{maintenance.company_name}}</td>
                                    <td>{{maintenance.amount}}</td>
                                    </tr>
                                    {% endfor %}
                                   </tbody>
                                     <tfoot>
                                        <tr>
                                        <td>Total Amount</td>
                                        <td>{{total_amount}}</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>









{% comment %} <div id="del_btn"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalforUploadFile">Show Report</button></div>


<div class="modal fade" id="exampleModalforUploadFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalforUploadFileLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalforUploadFileLabel">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Coming Soon</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> {% endcomment %}


<div>
    <table id="test_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Vehicle Details</th>
                <th>Company</th>
                <th>Type</th>
                <th>Total Kms</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
        {% for onevehicle in vehicleobjectlist %}
            <tr>
                <td><a href="{% url 'trax_vehicle_manager_data:maintenance_summary_one_vehicle' pk=onevehicle.pk  %}"> {{onevehicle.vehicle_number}} </a></td>
                <td>{{onevehicle.vehicle_ownership_name}}</td>
                <td>{{onevehicle.vehicle_type}}</td>
                <td>{{vehicle_km_sum|get_item:onevehicle.pk}}</td>
                <td>{{vehicle_amount_sum|get_item:onevehicle.pk}}</td>
                {% comment %} {% for key,value in vehicle_dict.items %}
                <td>{{value.0.odometer_reading__sum}}</td>
                <td>{{value.1.amount__sum}}</td>
                {% endfor %} {% endcomment %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<script>
        $("#maintenanceReport").click(function() {
            $("#companyTable").hide();
            $("#maintenanceTable").show();
            $("#maintenanceReport").backgroundColor= red;
        })

        $("#companyReport").click(function() {
            $("#companyTable").show();
            $("#maintenanceTable").hide();
        })
    </script>


{% endblock %}
{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>

{% endblock %}
{% block extrascript %}
<script type="text/javascript">
 $(document).ready(function() {
$('#test_table').DataTable({
	orderCellsTop: true,
    fixedHeader: false,
    "lengthMenu": [ [-1], ["All"] ],
    dom: 'Bfrtip',
    buttons: [
        {
        extend: 'excel',
        text: 'Export Excel',
        className: 'exportExcel',
        filename: 'Export excel',
        exportOptions: {
            modifier: {
            page: 'all'
            }
        }
        }, 
       {% comment %}  {
        extend: 'pdf',
        text: 'Export PDF',
        className: 'exportPDF',
        filename: 'Export PDF',
        exportOptions: {
            modifier: {
            page: 'all'
            }
        }
        },  {% endcomment %}
        ]
});
});
</script>
<script type="text/javascript">
    $(function() {
         $(".upload_maintenance_form").modalForm({
        formURL: "{% url 'trax_vehicle_manager_data:upload_maintenance_form' %}"
    });
        $(".update-data-entered").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
         $(".delete-data-entered").each(function() {
			$(this).modalForm({
				formURL: $(this).data('id')
			});
		});
        
      $(".read-data-entered").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    });
</script>
{% endblock extrascript %}