{% extends 'trax_vehicle_manager_data/base.html' %}
{% load maintenance_data_filters %}


{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<style>
        .maintenance{
            font-weight: bold;
            background-color: plum;
            padding-top: 12px;
            cursor: pointer;
        }
        .maintenance:after{
            background-color: red;
        }
        
        .company{
            font-weight: bold;
            background-color: plum;
            padding-top: 12px;
            cursor: pointer;
        }
    </style>





<style>
.exportExcel{
  padding: 5.5px;
  border: 2px solid #28a745;
  margin-right: 5px;
  cursor: pointer;
  float: right;
  margin-top : -306px;
  border-radius:6px;
  background-color:#28a745;
  color:white;
  width:120px;
}
{% comment %} .exportPDF{
  padding: 5.5px;
  border: 2px solid #dc3545;
  cursor: pointer;
  float: right;
  margin-top : -205px;
  border-radius:6px;
  background-color:#dc3545;
  color:white;
  width:100px;
  margin-left:-20px;
} {% endcomment %}
</style>
{% endblock stylesheets %}

{% block content %}
<!-- Modal for CURD Operation -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>


<span id="btn">
<button type="button" class="btn btn-info" style="margin-top:-50px;margin-left:-500px;" data-toggle="modal" data-target="#exampleModal">Upload Form </button>
<button type="button" class="btn btn-primary" style="margin-top:-50px;" data-toggle="modal" data-target="#exampleModalforUploadFile">Upload File</button>
<input type="button" class="btn btn-danger" id="btnExport" style="margin-top:-50px;margin-right:30px;"  value="Export PDF" onclick="Export()" />
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Maintenanace Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action={% url 'trax_vehicle_manager_data:maintenance_details_form_submit' %} method="post" autocomplete="off">
                         {% csrf_token %}
                         <div class="form-group row">
                            <label for="dealer" class="col-sm-4 col-form-label form-control-sm">Dealer</label>
                            <div class="col-sm-8">
                                <input list="vehicle-type" id="maintenance_dealer_name" name="maintenance_dealer_name" class="form-control form-control-sm" />
                                <datalist id="vehicle-type">
                                    <option value="Bus"></option>
                                    <option value="Innova"></option>
                                    <option value="Enjoy"></option>
                                    <option value="Audi"></option>
                                    <option value="BMW"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="vehicledetail" class="col-sm-4 form-control-sm col-form-label">Vehicle Detail</label>
                            <div class="col-sm-8">
                                <input list="vehicle-detail" id="vehicle_detail" name="vehicle_detail" class="form-control form-control-sm" />
                                <datalist id="vehicle-detail">
                                    <option value="MH07AK8888"></option>
                                    <option value="MH07AK8883"></option>
                                    <option value="MH07AK8886"></option>
                                    <option value="MH07AK8889"></option>
                                    <option value="MH07AK8880"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="vehicletype" class="col-sm-4 form-control-sm col-form-label">Vehicle Type</label>
                            <div class="col-sm-8">
                                <input list="vehicle-type" id="vehicle_type" name="vehicle_type" class="form-control form-control-sm" />
                                <datalist id="vehicle-type">
                                    <option value="Bus"></option>
                                    <option value="Innova"></option>
                                    <option value="Enjoy"></option>
                                    <option value="Audi"></option>
                                    <option value="BMW"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="billnumber" class="col-sm-4 col-form-label form-control-sm">Bill Number</label>
                            <div class="col-sm-8">
                                <input type="text" id="bill_number" name="bill_number" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="billdate" class="col-sm-4 col-form-label form-control-sm">Bill Date</label>
                            <div class="col-sm-8">
                                <input type="date" id="bill_date" name="bill_date" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="travelname" class="col-sm-4 col-form-label form-control-sm">Travel Name</label>
                            <div class="col-sm-8">
                                <select id="company_name" name="company_name" class="form-control form-control-sm">
                                    <option selected>Aaron Tour</option>
                                    <option>Gokruze</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="odometer" class="col-sm-4 col-form-label form-control-sm">Odometer</label>
                            <div class="col-sm-8">
                                <input type="number" id="odometer_reading" name="odometer_reading" class="form-control form-control-sm" />
                            </div>
                        </div>
                       
                        <div class="form-group row">
                            <label for="partnumber" class="col-sm-4 col-form-label form-control-sm">Part Number</label>
                            <div class="col-sm-8">
                                <input type="text" id="dealer_part_number" name="dealer_part_number" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="particular" class="col-sm-4 col-form-label form-control-sm">Particular</label>
                            <div class="col-sm-8">
                                <input list="Particular" id="particular" name="particular" class="form-control form-control-sm" />
                                <datalist id="Particular">
                                    <option value="Bus">Bus</option>
                                    <option value="Innova">Innova</option>
                                    <option value="Enjoy"></option>
                                    <option value="Audi"></option>
                                    <option value="BMW"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="particulardeatil" class="col-sm-4 col-form-label form-control-sm">Particular Detail</label>
                            <div class="col-sm-8">
                                <input type="text" id="particular_details" name="particular_details" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="totalquantity" class="col-sm-4 col-form-label form-control-sm">Total Quantity</label>
                            <div class="col-sm-8">
                                <input type="text" id="quantity" name="quantity" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="rate" class="col-sm-4 col-form-label form-control-sm">Rate</label>
                            <div class="col-sm-8">
                                <input type="text" id="rate" name="rate" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="totakamount" class="col-sm-4 col-form-label form-control-sm">Total Amount</label>
                            <div class="col-sm-8">
                                <input type="text" id="amount" name="amount" class="form-control form-control-sm" onclick="TotalAmount()" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="labourcharge" class="col-sm-4 col-form-label form-control-sm">Labour Charge</label>
                            <div class="col-sm-8">
                                <input type="text" id="labour_charge" name="labour_charge" class="form-control form-control-sm"  />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="discount" class="col-sm-4 col-form-label form-control-sm">Discount</label>
                            <div class="col-sm-4">
                                <input type="text" id="discountInput" name="discountInput" class="form-control form-control-sm" />
                            </div>
                            <div class="col-sm-4">
                                <input list="discountPercent" id="discount" name="discount" class="form-control form-control-sm" />
                                <datalist id="discountPercent">
                                    <option value="5"></option>
                                    <option value="10"></option>
                                    <option value="15"></option>
                                    <option value="20"></option>
                                    <option value="25"></option>
                                    <option value="30"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tax" class="col-sm-4 col-form-label form-control-sm">Tax</label>
                            <div class="col-sm-4">
                                <input type="text" id="taxInput" name="taxInput" class="form-control form-control-sm" />
                            </div>
                            <div class="col-sm-4">
                                <input list="taxPercent" id="tax" name="tax" class="form-control form-control-sm" />
                                <datalist id="taxPercent">
                                    <option value="5"></option>
                                    <option value="18"></option>
                                    <option value="28"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tds" class="col-sm-4 col-form-label form-control-sm">TDS</label>
                            <div class="col-sm-4">
                                <input type="text" id="tdsInput" name="tdsInput" class="form-control form-control-sm"  />
                            </div>
                            <div class="col-sm-4">
                                <input list="tdsPercent" id="tds" name="tds" class="form-control form-control-sm" />
                                <datalist id="tdsPercent">
                                    <option value="2"></option>
                                    <option value="4"></option>
                                    <option value="8"></option>
                                </datalist>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="finalamount" class="col-sm-4 col-form-label form-control-sm">Final Amount</label>
                            <div class="col-sm-8">
                                <input type="text" id="total_amount" name="total_amount" class="form-control form-control-sm"  onclick="FinalAmount()" readonly/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="Chalak Malak">Chalak Malak</label>
                            <div class="form-group">
                                <select class="form-control" id="chalak_malal" name="chalak_malal">
                                    <option value="YES">YES</option>
                                    <option value="NO">NO</option>
                                </select>
                            </div>
                        </div>

                        
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</span>

<hr>
<h3>Maintenance Details</h3>
<hr>

<form action={% url 'trax_vehicle_manager_data:maintenance_details' %} method="post">
                     {% csrf_token %}
                       
                        <div>
                        <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="start_date_lbl">From:</label><br>
                            <input type="date" class="datepicker" id="date1" name="date1">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="end_date_lbl">To:</label><br>
                            <input type="date" class="datepicker" id="date2" name="date2">
                        </div>
                        <div class="form-group col-md-3">
                        <br>
                        <button type="submit" class="submit-btn btn btn-primary">Search</button>
                        </div>
                        </div>
                        <br>
                    </form> 
<div>
{% if filter_date == "True" %}
<h4>{{date1|title}}To{{date2|title}}</h4>
{% else %}
<h4>Please select Dates to filter Data by Bill Date</h4>
{% endif %}

</div>


<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" style="float:right;margin-top:-50px" data-toggle="modal" data-target="#exampleModal">
        Show Report
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" style="text-align: center; border: 1px solid;height: 50px;">
                            <div class="col maintenance" id="maintenanceReport">Maintenance Report </div>
                            <div class="col company" id="companyReport">Company Report</div>
                        </div><br>
                        <div class="row">
                            <div class="col">
                                <table id="maintenanceTable" style="text-align: center; width: 100%;border: 1px solid;">
                                    <head>
                                    <tr>
                                        <th>Particular Type</th>
                                        <th>Total Amount</th>
                                        <th>Average</th>
                                    </tr>
                                        </head>
                                    <tbody>
                                    {% for maintenance in maintenance_objects %}
                                    <tr>
                                    <td>{{maintenance.particular}}</td>
                                    <td>{{maintenance.amount}}</td>
                                    <td>0.0</td>
                                    </tr>
                                    {% endfor %}
                                   </tbody>
                                    <tfoot>
                                        <tr>
                                        <td>Total Amount</td>
                                        <td>{{total_amount}}</td>
                                        <td></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <table id="companyTable" style="text-align: center; width: 100%;border: 1px solid; display: none">
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Total Amount</th>
                                    </tr>

                                   <tbody>
                                    {% for maintenance in maintenance_objects %}
                                    <tr>
                                    <td>{{maintenance.company_name}}</td>
                                    <td>{{maintenance.amount}}</td>
                                    </tr>
                                    {% endfor %}
                                   </tbody>
                                     <tfoot>
                                        <tr>
                                        <td>Total Amount</td>
                                        <td>{{total_amount}}</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>









{% comment %} <div id="del_btn"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalforUploadFile">Show Report</button></div>


<div class="modal fade" id="exampleModalforUploadFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalforUploadFileLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalforUploadFileLabel">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Coming Soon</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> {% endcomment %}


<div>
    <table id="test_table" name="test_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Vehicle Details</th>
                <th>Company</th>
                <th>Type</th>
                <th>Total Kms</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
        {% for onevehicle in vehicleobjectlist %}
            <tr>
                <td><a href="{% url 'trax_vehicle_manager_data:maintenance_summary_one_vehicle' pk=onevehicle.pk  %}"> {{onevehicle.vehicle_number}} </a></td>
                <td>{{onevehicle.vehicle_ownership_name}}</td>
                <td>{{onevehicle.vehicle_type}}</td>
                <td>{{vehicle_km_sum|get_item:onevehicle.pk}}</td>
                <td>{{vehicle_amount_sum|get_item:onevehicle.pk}}</td>
                {% comment %} {% for key,value in vehicle_dict.items %}
                <td>{{value.0.odometer_reading__sum}}</td>
                <td>{{value.1.amount__sum}}</td>
                {% endfor %} {% endcomment %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<script>
        $("#maintenanceReport").click(function() {
            $("#companyTable").hide();
            $("#maintenanceTable").show();
            $("#maintenanceReport").backgroundColor= red;
        })

        $("#companyReport").click(function() {
            $("#companyTable").show();
            $("#maintenanceTable").hide();
        })
    </script>


{% endblock %}
{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>

{% endblock %}
{% block extrascript %}
<script type="text/javascript">
 $(document).ready(function() {
$('#test_table').DataTable({
	orderCellsTop: true,
    fixedHeader: false,
    "lengthMenu": [ [-1], ["All"] ],
    dom: 'Bfrtip',
    buttons: [
        {
        extend: 'excel',
        text: 'Export Excel',
        className: 'exportExcel',
        filename: 'Export excel',
        exportOptions: {
            modifier: {
            page: 'all'
            }
        }
        }, 
       {% comment %}  {
        extend: 'pdf',
        text: 'Export PDF',
        className: 'exportPDF',
        filename: 'Export PDF',
        exportOptions: {
            modifier: {
            page: 'all'
            }
        }
        },  {% endcomment %}
        ]
});
});
</script>
<script type="text/javascript">
    $(function() {
         $(".upload_maintenance_form").modalForm({
        formURL: "{% url 'trax_vehicle_manager_data:upload_maintenance_form' %}"
    });
        $(".update-data-entered").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
         $(".delete-data-entered").each(function() {
			$(this).modalForm({
				formURL: $(this).data('id')
			});
		});
        
      $(".read-data-entered").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    });
</script>
<script>
    function TotalAmount(){
        var quantity = Number(document.getElementById("quantity").value);
        var Rate = Number(document.getElementById("rate").value);
        var Total_Amount = quantity*Rate;
        document.getElementById("amount").value = Total_Amount;
        document.getElementById("total_amount").value = Total_Amount;
    }
    function FinalAmount(){
        var Total_amount = Number(document.getElementById("amount").value);
        var Labour = Number(document.getElementById("labour_charge").value);
        var Discount = Number(document.getElementById("discountInput").value);
        var Tax = Number(document.getElementById("taxInput").value);
        var Tds = Number(document.getElementById("tdsInput").value);
        
//        
//        var TotalAmountDiscount = Total_amount - Discount+ Labour;
//        
//         document.getElementById("final_amount").value = TotalAmountDiscount;
//        
//        var TotalAmountDiscountTax = TotalAmountDiscount + Tax;
//        
//        document.getElementById("final_amount").value = TotalAmountDiscountTax;
//       
//        var Final_Amount =  TotalAmountDiscountTax - Tds ;
//        
//        document.getElementById("final_amount").value = Final_Amount;
        
        
        
        
        var DISCOUNT = Number(document.getElementById("discount").value);
        var TAX = Number(document.getElementById("tax").value);
        var TDS = Number(document.getElementById("tds").value);
        
        var discout_percent = ( Total_amount * (DISCOUNT / 100));
        
        document.getElementById("discountInput").value = discout_percent;
        
        var totalamount_discount = Total_amount - discout_percent +Labour;
        
        
          document.getElementById("total_amount").value = totalamount_discount;
        

        var taxPercent = (totalamount_discount * (TAX / 100));
        
        document.getElementById("taxInput").value = taxPercent;
        
        
        var totalamount_discount_tax = totalamount_discount + taxPercent;
        
        
          document.getElementById("total_amount").value = totalamount_discount_tax;

        
        var Tdspercent = (Total_amount * (TDS / 100));
        
        document.getElementById("tdsInput").value = Tdspercent;
        
        var final_Amount =  totalamount_discount_tax - Tdspercent ;
        
        document.getElementById("total_amount").value = final_Amount;       
    }
    
    </script>
     <script type="text/javascript">
        function Export() {
            html2canvas(document.getElementsByName('test_table'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Table.pdf");
                }
            });
        }
    </script>
{% endblock extrascript %}