{% extends 'trax_vehicle_manager_data/base.html' %}

{% load static %}

{% block content %}
<span><span id="date"><b>From:</b><input type="date"> - <b>To:</b><input type="date"></span><span id="btn"><button class="btn btn-primary">Upload File</button>
        <button class="btn btn-success">Export Excel</button><button class="btn btn-danger">Export PDF</button></span> </span>

<hr>
<h3>Maintenance Data</h3>
<hr>
<div>
{% if maintenance_data_objects %}
    <table id="test_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Vehicle Details</th>
                <th>Dealer</th>
                <th>Bill Number</th>
                <th>Bill Date</th>
                <th>Particular</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Labour Charge</th>
                <th>Discount</th>
                <th>Tax</th>
                <th>Total Amount</th>
                <th>Edit</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            {% for maintenance_data in maintenance_data_objects %}
            <tr>
                <td>{{maintenance_data.vehicle_detail}}</td>
                <td>{{maintenance_data.dealer_part_number}}</td>
                <td>{{maintenance_data.bill_number}}</td>
                <td>{{maintenance_data.bill_date}}</td>
                <td>{{maintenance_data.particular}}</td>
                <td>{{maintenance_data.quantity}}</td>
                <td>{{maintenance_data.rate}}</td>
                <td>{{maintenance_data.labour_charge}}</td>
                <td>{{maintenance_data.discount}}</td>
                <td>{{maintenance_data.tax}}</td>
                <td>{{maintenance_data.total_amount}}</td>
                <td>{{maintenance_data.total_amount}}</td>
                <td>{{maintenance_data.total_amount}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="no-leads text-primary">No data added yet.</p>
    {% endif %}
</div>
{% endblock %}