{% extends 'trax_vehicle_manager_data/base.html' %}

{% load static %}

{% block content %}
<span><span id="date"><b>From:</b><input type="date"> - <b>To:</b><input type="date"></span><span id="btn">
        <button class="btn btn-success">Export Excel</button><button class="btn btn-danger">Export PDF</button></span> </span>

<hr>
<h3>Maintenance Update Payment</h3>
<hr>
<div>
{% if maintenance_data_objects %}
    <table id="test_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Bill Number</th>
                <th>Bill Date</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
        {% for maintenance_data in maintenance_data_objects %}
            <tr>
                <td>{{maintenance_data.company_name}}</td>
                <td>{{maintenance_data.bill_number}}</td>
                <td>{{maintenance_data.bill_date}}</td>
                <td>{{maintenance_data.total_amount}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="no-leads text-primary">No data added yet.</p>
    {% endif %}
</div>
{% endblock %}
