{% extends 'trax_vehicle_manager_data/base.html' %}

{% load static %}

{% load maintenance_data_filters %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<style>
.exportExcel{
  padding: 5.5px;
  border: 2px solid #28a745;
  margin-right: 110px;
  cursor: pointer;
  float: right;
  margin-top : -243px;
  border-radius:6px;
  background-color:#28a745;
  color:white;
  width:120px;
}
.exportPDF{
  padding: 5.5px;
  border: 2px solid #dc3545;
  cursor: pointer;
  float: right;
  margin-top : -243px;
  border-radius:6px;
  background-color:#dc3545;
  color:white;
  width:100px;
  margin-left:-20px;
}
</style>
{% endblock stylesheets %}

{% block content %}
<!-- Modal for CURD Operation -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<span id="btn">
<button type="button" class="btn btn-primary" style="margin-left:-355px;margin-top:-3px" data-toggle="modal" data-target="#exampleModalforUploadFile">Upload File</button>
</span>
<div class="modal fade" id="exampleModalforUploadFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalforUploadFileLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalforUploadFileLabel">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Coming Soon</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<form action={% url 'trax_vehicle_manager_data:vehicle_diesel_report' %} method="post">
                     {% csrf_token %}
                       
                        <div>
                        <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="start_date_lbl">From:</label><br>
                            <input type="date" class="datepicker" id="date1" name="date1">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="end_date_lbl">To:</label><br>
                            <input type="date" class="datepicker" id="date2" name="date2">
                        </div>
                        <div class="form-group col-md-3">
                        <br>
                        <button type="submit" class="submit-btn btn btn-primary">Search</button>
                        </div>
                        </div>
                        <br>
                    </form> 

<hr>
<h3>Vehicle Diesel Report</h3>
<hr>
<div>
    <table id="test_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Vehicle No.</th>
                <th>Vehicle Details</th>
                <th>Company</th>
                <th>Type</th>
                <th>Seat cap</th>
                <th>Litres</th>
                <th>Amount</th>
                <th>KM Runs</th>
                <th>Avg</th>
                <th>Min Avg</th>
                <th>Performance</th>
                <th>View Report</th>
            </tr>
        </thead>
        <tbody>
        {% for key,value in diesel_dict.items %}
            <tr>
                <td>{{key.vehicle_number}}</td>
                <td>{{key.vehicle_ownership_details}}</td>
                <td>{{key.vehicle_ownership}}</td>
                <td>{{key.vehicle_type}}</td>
                <td>{{key.vehicle_seating_capacity}}</td>
                <td>{{diesel_litres_dict|get_item:key.pk}}</td>
                <td>{{diesel_data_amount_dict|get_item:key.pk}}</td>
                <td>{{diesel_data_km_runs_dict|get_item:key.pk}}</td>
                <td>{{diesel_data_average_dict|get_item:key.pk}}</td>
                <td>{{key.minimum_average}}</td>
                <td>{{diesel_data_performance_dict|get_item:key.pk}}</td>
                <td><a href="{% url 'trax_vehicle_manager_data:vehicle_diesel_report_one_vehicle' key.pk %}" class="btn btn-danger">View Report</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
 $(document).ready(function() {
$('#test_table').DataTable({
	orderCellsTop: true,
    fixedHeader: false,
    "lengthMenu": [ [-1], ["All"] ],
    dom: 'Bfrtip',
    buttons: [
        {
        extend: 'excel',
        text: 'Export Excel',
        className: 'exportExcel',
        filename: 'Export excel',
        exportOptions: {
            modifier: {
            page: 'all'
            }
        }
        }, 
       {
        extend: 'pdf',
        text: 'Export PDF',
        className: 'exportPDF',
        filename: 'Export PDF',
        exportOptions: {
            modifier: {
            page: 'all'
            }
        }
        },
        ]
});
});
</script>
{% endblock extrascript %}