{% extends 'trax_vehicle_manager_data/base.html' %}

{% load static %}

{% load maintenance_data_filters %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<style>
        table, th, td,caption{
        border: 1px solid black;
        border-collapse: collapse;
        } 
</style>

{% endblock stylesheets %}

{% block content %}
<!-- Modal for CURD Operation -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<hr>
<h3>Maintenance Summary for {{vehicle_number}}</h3>
<hr>

<div>
    <table id="test_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Sr. No. </th>
                <th>Kms</th>
                <th>Amount</th>
            </tr>
        </thead>
       <tbody>
        {% for maintenance in all_maintenance_objects %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{maintenance.odometer_reading}}</td>
                <td>{{maintenance.amount}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
            <td>Total</td>
                            <td>{{ km_sum.odometer_reading__sum }}</td>
                            <td>{{ amount_sum.amount__sum }}</td>
                                                    </tr>
                                                  </tfoot>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
    $(function() {
         $(".upload_diesel_data_form").modalForm({
        formURL: "{% url 'trax_vehicle_manager_data:diesel_data_create_form' %}"
    });
        $(".update-data-entered").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
         $(".delete-data-entered").each(function() {
			$(this).modalForm({
				formURL: $(this).data('id')
			});
		});
        
      $(".read-data-entered").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    });
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('#test_table').DataTable();
    });
</script>
{% endblock extrascript %}