{% extends 'trax_vehicle_manager_data/base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<style>
        table, th, td,caption{
        border: 1px solid black;
        border-collapse: collapse;
        } 
</style>

{% endblock stylesheets %}


{% block content %}

<hr>
<h3>Maintenance Details for {{maintenance_dealer_name}}</h3>
<hr>
<form action="{% url 'trax_vehicle_manager_data:maintenance_summary_one_company' dealer_name=maintenance_dealer_name %}" method="post">
                     {% csrf_token %}
                       
                        <div>
                        <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="start_date_lbl">From:</label><br>
                            <input type="date" class="datepicker" id="date1" name="date1">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="end_date_lbl">To:</label><br>
                            <input type="date" class="datepicker" id="date2" name="date2">
                        </div>
                        <div class="form-group col-md-3">
                        <br>
                        <button type="submit" class="submit-btn btn btn-primary">Search</button>
                        </div>
                        </div>
                        <br>
                    </form> 


<div>
{% if filter_date == "True" %}
<h4>{{date1|title}}To{{date2|title}}</h4>
{% else %}
<h4>Please select Dates to filter Data</h4>
{% endif %}



<div>
    <table id="test_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Vehicle Details</th>
                <th>Dealer</th>
                <th>Bill Number</th>
                <th>Bill Date</th>
                <th>Particular</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Labour Charge</th>
                <th>Discount</th>
                <th>Tax</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for maintenance_data in all_maintenance_objects %}
            <tr>
                <td>{{maintenance_data.vehicle_detail}}</td>
                <td>{{maintenance_data.maintenance_dealer_name}}</td>
                <td>{{maintenance_data.bill_number}}</td>
                <td>{{maintenance_data.bill_date}}</td>
                <td>{{maintenance_data.particular}}</td>
                <td>{{maintenance_data.quantity}}</td>
                <td>{{maintenance_data.rate}}</td>
                <td>{{maintenance_data.labour_charge}}</td>
                <td>{{maintenance_data.discount}}</td>
                <td>{{maintenance_data.tax}}</td>
                <td>{{maintenance_data.total_amount}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
    $(function() {
         $(".upload_maintenance_form").modalForm({
        formURL: "{% url 'trax_vehicle_manager_data:upload_maintenance_form' %}"
    });
        $(".update-data-entered").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
         $(".delete-data-entered").each(function() {
			$(this).modalForm({
				formURL: $(this).data('id')
			});
		});
        
      $(".read-data-entered").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    });
</script>

<script type="text/javascript">
$(document).ready(function() {
    $('#test_table').DataTable();
    });
</script>

{% endblock extrascript %}


